<template>
	<div class="<%= mDirName %>">

	</div>
</template>

<script>
    import api from '@common/js/api'
    // import _ from 'lodash'

    export default {
        name: '<%= mName %>',
    }
</script>

<style lang="scss">
	@import "~@common/scss/_common.scss";
	.<%= mDirName %> {
	}
</style>
